// font information for header
$logo_font-family: 'Aldrich', sans-serif;
$logo_font-weight: 400;  
$logo_font-size: 24px;  
$logo_line-height: 36px;
$logo_colors: #242634; 

// Single quotation mark is not used for font info other than font-family.

// font information for header links
$link_font-family: 'Source Sans 3', sans-serif; 
$link_font-size: 16px;  
$link_line-height: 22.4px;
$link_font-style: normal;

// font information for p in the main content
$para_font-size: 22px;  
$para_line-height: 33px;
$para_font-optical-sizing: auto;

// font information for h1 in the main content
$head_font-family: 'Poppins', sans-serif;
$head_font-weight: 500;  
$head_font-size: 90px;  
$head_line-height: 102px;